<div class="auth-page">

  <div class="container page">

    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">sign up</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']">
            Have an Account
          </a>
        </p>
        backend errors are here

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <fieldset>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Username"
                formControlName="username"
              >
            </fieldset>
            <fieldset></fieldset>
          </fieldset>
          <fieldset class="form-group">
            <fieldset>
              <input type="text" class="form-control form-control-lg"
                     placeholder="email"
                     formControlName="email"
              >
            </fieldset>
            <fieldset></fieldset>
          </fieldset>
          <fieldset class="form-group">
            <fieldset>
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="password"
                formControlName="password"
              >
            </fieldset>
            <fieldset></fieldset>
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
